<section
  id="about"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
>
  <div>
    <p class="mb-4">
      Hello, I'm João Soares, a 23-year-old from Portugal. Starting my coding
      journey at 16, I embraced
      <span class="font-semibold text-slate-200">game development</span>. As
      time went on, my interests naturally expanded into the realms of
      <span class="font-semibold text-slate-200">cybersecurity</span> and
      <span class="font-semibold text-slate-200">machine learning</span>
      as well.
    </p>
    <p class="mb-4">
      My passion for gaming ignited a fascination with game development and the
      broader industry, thus obtaining a
      <span class="font-semibold text-slate-200"
        >BsC degree in game development engineering</span
      >. While my academic foundation is strong, I'm determined to further
      enhance my skills.
    </p>
    <p class="mb-4">
      <span class="font-semibold text-slate-200">Every day</span> I make a point
      of accumulating a little more knowledge, consistently pushing the
      boundaries of my understanding and venturing into new horizons.
    </p>
  </div>
</section>
