<section
  id="experience"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="work experience"
>
  <div class="container">
    <ol>
      <app-experience-item
        *ngFor="let experienceEl of experiences; let i = index"
        [experience]="experienceEl"
        [index]="i"
      ></app-experience-item>
      <li class="mb-12">
        <div class="card">
          <div class="row">
            <div
              class="col-4 font-bold text-md-xs uppercase text-slate-500 tracking-wide"
            >
              08/2020 — 03/2021
            </div>
            <div class="col-8">
              <h3 class="font-semibold leading-snug text-slate-200">
                <div>
                  <a
                    ><span class="mr-1">Game Developer ·</span
                    ><span>GROUPINBLUE</span></a
                  >
                </div>
                <div>
                  <div class="text-slate-500" aria-hidden="true">Freelance</div>
                </div>
              </h3>
              <p class="mt-2 text-sm leading-normal">
                Lorem ipsum dolor sit amet. Qui ratione ipsam qui quasi dolor et
                consequatur molestiae in officia perferendis hic aliquam odio
                est quaerat asperiores. Et expedita dolorem ut possimus minima
                qui cupiditate explicabo qui deleniti nobis. Aut voluptatem
                similique qui quia dolore eos veritatis illo.
              </p>

              <ul class="mt-2 d-flex flex-wrap" aria-label="Technologies">
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React Native
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
                <li class="mr-1.5 mt-2">
                  <div
                    class="d-flex align-items-center rounded-full bg-teal-400-10 text-teal-300 font-medium text-xs px-3 py-1"
                  >
                    React
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
