<div
  style="
    background: radial-gradient(
      600px at center,
      rgba(32, 117, 153, 0.219) 1%,
      rgba(10, 20, 44, 0.397),
      rgba(10, 20, 44, 0.315)
    );
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  "
>
  <div
    class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
  >
    <div class="lg:flex lg:justify-between lg:gap-4">
      <div style="position: fixed; top: 0; left: 0">
        <a [routerLink]="''"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="52"
            height="52"
            fill="currentColor"
            class="bi bi-arrow-left-short"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
            />
          </svg>
        </a>
      </div>
      <header
        class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
      >
        <div>
          <h1
            class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl"
          >
            {{ experience.position }}
          </h1>
          <div>
            <div class="row">
              <div class="col mt-3">
                <span
                  class="text-2xl font-medium tracking-tight text-slate-200"
                >
                  {{ experience.jobType }} {{ experience.company ? "@" : "" }}
                </span>
                <a
                  class="mt-2 text-lg font-semibold tracking-tight text-slate-200 sm:text-xl"
                  target="_blank"
                  href="https://groupinblue.com"
                  style="text-decoration: none"
                >
                  {{ experience.company }}
                </a>
                <div class="row">
                  <div
                    class="col text-lg font-medium tracking-tight text-slate-500"
                  >
                    {{ experience.date }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="pt-24 lg:w-1/2 lg:py-24">
        <section class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
          <p class="mt-2 text-lg leading-normal">
            <span *ngFor="let descEl of experience.description; let i = index">
              <span
                class="font-semibold text-slate-200"
                *ngIf="i % 2 == 0; else noSemiBold"
                >{{ descEl }} </span
              ><ng-template #noSemiBold>{{ descEl }}</ng-template>
            </span>
          </p>
        </section>
      </div>
    </div>
    <div>
      <section>
        <h1 class="text-2xl font-bold text-slate-200">About</h1>
        <ul>
          <li class="mt-3 text-lg" *ngFor="let point of experience.about">
            <span *ngFor="let pointEl of point; let i = index">
              <span
                class="font-semibold text-slate-200"
                *ngIf="i % 2 == 0; else noSemiBold2"
                >{{ pointEl }}</span
              >
              <ng-template #noSemiBold2> {{ pointEl }}</ng-template>
            </span>
          </li>
        </ul>
      </section>
    </div>
    <div>
      <h1 class="mt-8 text-xl font-bold text-slate-200">Stack</h1>
      <div class="container">
        <div class="row">
          <ul
            class="d-flex flex-wrap"
            style="justify-content: center; column-gap: 20px"
          >
            <li
              class="mr-1 mt-2 col col-lg-2"
              *ngFor="let point of experience.stack; let i = index"
            >
              <div
                class="mt-3 text-lg rounded-full bg-teal-200-40 px-3 py-1 text-center"
              >
                <img [src]="experience.svgs[i]" class="mb-1" />
                {{ point }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
